<h2>All Authorships</h2>
<h3>Total Authorships: <%= Authorship.count %></h3>
<% @authorships.each do |authorship| %>
  <div class="booyah-box col-10 offset-1">
    <ul>  
      <li>Book id: <%= authorship.book_id %></li>
      <li>Book title: <%= Book.find(authorship.book_id).title %></li>
      <li>Author id: <%= authorship.author_id %></li>
      <li>Author name: <%= Author.find(authorship.author_id).full_name %></li>
    </ul>
  </div>

  <hr />

<% end %>   
