<div class="booyah-box col-10 offset-1">
  <h1>Edit Your Book</h1>
  <%= simple_form_for @book do |f| %>
    <%= f.input :title %>
    <ul><strong>Author</strong>
      <%= simple_form_for :author do |p| %>
        <li><%= p.input :first_name %></li> 
        <li><%= p.input :last_name %></li> 
        <li><%= p.input :age_name %></li>
    </ul>
    <%= f.input :genre %>
    Classification: <%= f.select( :classification, options_for_select(['General Works - encyclopedias',
   'Philosophy, Psychology, Religion',
   'History - Auxiliary Sciences',
   'History (except American)',
   'General U.S. History',
   'Local U.S. History',
   'Geography, Anthropology, Recreation',
   'Social Sciences U',
   'Political Science V',
   'Law Z - Bibliography and Library Science',
   'Education',
   'Music',
   'Fine Arts',
   'Language and Literature',
   'Science',
   'Medicine',
   'Agriculture',
   'Technology',
   'Military',
   'Naval Science',
   'Bibliography and Library Science'])) %>
   <br />
   Fiction: <%= f.select :book_type, options_for_select(['Fiction','Nonfiction']) %>
    <%= f.input :year %>
    <br />
    <%= f.submit 'Update', class: 'btn btn-primary' %>
  <% end %>
  <% end %>
</div>