
  

  <% @books.collect{|b| [b.title]}.transpose.each do |line| %>
    <tr>
      <% line.each do |cell| %>
        <td><%= cell %></td> |
      <% end %>
    </tr>
  <% end %>
  
  <% @books.each do |book| %>
    <div class="booyah-box col-10 offset-1">
        <ul><h1><%= link_to book.title, book_path(book) %></h1>
          <li>Author(s): 
            <% Authorship.all.each do |authorship| %>
              <% if authorship.book_id == book.id %>
              <%= Author.find(authorship.author_id).full_name %>
              <br />
              <% end %>
            <% end %>
          </li>
          <li>Genre: <%= book.genre %></li>
          <li>Classification: <%= book.classification %></li>
          <li>Type: <%= book.book_type %></li>
          <li>Year: <%= book.year %></li>
        </ul>
      </table>
    </div>

    <hr />

  <% end %>   
