<h2>All Books</h2>
<% @books.each do |book| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= link_to book.title, book_path(book) %></h1>
    <i><%=  %></i>Author(s)<br />
    <% Authorship.all.each do |authorship| %>
      <% if authorship.book_id == book.id %>
       <%= Author.find(authorship.author_id).full_name %>
      <% end %>
    <% end %>

    <ul>
      <li>Classification: <%= book.classification %></li>
      <li>Genre: <%= book.genre %></li>
      <li>Type: <%= book.book_type %></li>
      <li>Year: <%= book.year %></li>
    </ul>
  </div>

  <hr />
<% end %>   