<div class="booyah-box col-10 offset-1">
  <h2><i>All Books</i></h2>
  <h3><i>Total Books: <%= Book.count %></i></h3>
  <table class="table-header">
    <tr>
      <th>Title</th>
      <th>Author(s)</th>
      <th>Genre</th>
      <th>Classification</th>
      <th>Type</th>
      <th>Year</th>
    </tr>
  </table>
  <% @books.each do |book| %>
    <table class="table-contents">
      <tr>
        <th><%= link_to book.title, book_path(book), class: 'link' %></th>
        <th>
          <% Authorship.all.each do |authorship| %>
            <% if authorship.book_id == book.id %>
              <%= link_to Author.find(authorship.author_id).full_name, author_path(authorship), class: 'link' %>
            <% end %>
          <% end %>
        </th>
        <th><%= book.genre %></th>
        <th><%= book.classification %></th>
        <th><%= book.book_type %></th>
        <th><%= book.year %></th>
      </tr>
    </table>
  <% end %> 
</div>
  