
  <% @books.each do |book| %>
    <div class="booyah-box col-10 offset-1">
      <h1><%= link_to book.title, book_path(book) %></h1>
      <i><%=  %></i>author<br />
      <ul>
        <li><%= book.classification %></li>
        <li><%= book.genre %></li>
        <li><%= book.book_type %></li>
        <li><%= book.year %></li>
      </ul>
    </div>

    <hr />

  <% end %>   