<div class="booyah-box col-10 offset-1">
  <h1>Enter Your Book Details</h1>
  <%= simple_form_for @book do |f| %>
    <%= f.input :title %>
    <%= f.input :genre %>
    Classification: <%= f.select :classification, options_for_select(Book.classifications) %>
    <br />
    Type: <%= f.select :book_type, options_for_select(Book.book_types) %>
    <%= f.input :year %>
    <br />
    <%= f.submit 'Create', class: 'btn btn-primary' %>
  <% end %>
</div>
