<div class="booyah-box col-10 offset-1">
  <h1>Enter Your Book Details</h1>
  <%= simple_form_for @book do |f| %>
    <%= f.input :title %>
    <%= f.input :author %>
    <%= f.input :genre %>
    <%= f.select( :classification, options_for_select(['General Works - encyclopedias',
   'Philosophy, Psychology, Religion',
   'History - Auxiliary Sciences',
   'History (except American)',
   'General U.S. History',
   'Local U.S. History',
   'Geography, Anthropology, Recreation',
   'Social Sciences U',
   'Political Science V',
   'Law Z - Bibliography and Library Science',
   'Education',
   'Music',
   'Fine Arts',
   'Language and Literature',
   'Science',
   'Medicine',
   'Agriculture',
   'Technology',
   'Military',
   'Naval Science',
   'Bibliography and Library Science'])) %>
    <%= f.select :type_book, options_for_select(['Fiction','Nonfiction']) %>
    <%= f.input :year %>
    <br />
    <%= f.submit 'Create', class: 'btn btn-primary' %>
  <% end %>
</div>