<!DOCTYPE html>
<html>
  <head>
    <title>FhHomework02</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <nav class="navbar"> 
      <ul class="navbar-nav mr-auto mt-2 mt-md-0">
        <li class="nav-item">
          <button class="navbar-toggler" type="button">
            <%= link_to 'All books', root_path, class: 'navbar-brand'%>
          </button>
        </li>
        <li class="nav-item"> 
          <button class="navbar-toggler" type="button">
            <%= link_to 'All authors', authors_path, class: 'navbar-brand'%>
          </button>
        </li>
        <li class="nav-item">
          <button class="navbar-toggler" type="button">
            <%= link_to 'All authorships', authorships_path, class: 'navbar-brand'%>
          </button>
        </li>
        <li class="nav-item navbar-toggler">
          <%= link_to new_book_path, class: 'nav-link' do %>
          <i class="fa fa-plus-circle"></i>
            New Book
          <% end %>
        </li>
        <li class="nav-item">
          <%= form_tag(root_path, method: :get) do %>
            <%= text_field_tag :term, params[:term] %>
            <%= submit_tag 'Search', name: nil %>
          <% end %>
        </li>
     </ul>
    </nav>
    <%= yield %>
  </body>
</html>
