<!DOCTYPE html>
<html>
  <head>
    <title>FhHomework02</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="nav-bar-toggler-icon"></span>
      <%= link_to 'All books', root_path, class: 'navbar-brand'%>
      </button>
      
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="nav-bar-toggler-icon"></span>
      <%= link_to 'All authors', authors_path, class: 'navbar-brand'%>
      </button>

      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="nav-bar-toggler-icon"></span>
      <%= link_to 'All authorships', authorships_path, class: 'navbar-brand'%>
      </button>

      <div class="navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
          <li class="nav-item">

            <%= form_tag root_path, method: :get do %>
              <%= text_field_tag :keyword, placeholder: "Search..." %>
              <%= submit_tag("Search") %>
            <% end %>    

            <%= form_for "", url: books_path, role: "search", method: :get do %>
              <%= label_tag("Search by:") %>
              <%= select_tag :search_by, options_for_select(
              [['Title', 'title'], ['Author', 'author'], ['Classification', 'classification'],
              ['Genre', 'genre'], ['Type', 'type_book']]) %>
              <%= text_field_tag :search, @search_term, placeholder: "Search..." %>
              <%= submit_tag("Search") %>
            <% end %>     
            <%= form_tag("/search", method: "get") do %>
              <%= label_tag(:q, "Search for:") %>
              <%= text_field_tag(:q) %>
              <%= submit_tag("Search") %>
            <% end %>
            <%= form_tag(books_path, :method => "get", id: "search-form") do %>
              <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
              <%= submit_tag "Search" %>
            <% end %>
            <%= form_tag(books_path method: :get) do %>
              <%= text_field_tag :keyword, params[:keyword] %>
              <%= submit_tag "Search", name: nil %>
            <% end %>
          </li>
        </ul>
      </div>

      <div class="navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
          <li class="nav-item">
            <%= link_to new_book_path, class: 'nav-link' do %>
            <i class="fa fa-plus-circle"></i>
              New Book
            <% end %>
          </li>
        </ul>
      </div>
    </nav>

    

    <%= yield %>
  </body>
</html>
